*{
    margin: none;
}

body{
    display:grid;
    justify-items: center;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "nav nav nav nav"
    "header header header header"
    "main main main main"
    "foot foot foot foot";
}

nav{
    display: flex;
    grid-area: nav;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

}

.links{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.navlink{
    display: flex;
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    grid-area: header;
    position: relative;
    width: 100%;
}

.titlebox{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60px;
    text-align: center;
    font-size: xx-large;
    font-family: roboto;
}

.hero{
    display: flex;
    width: 100%;
}


main{
    display: flex;
    grid-area: main;
    flex-direction: column;
    width: 50%;
    align-content: center;
}

.show-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-card{
    display: flex;
    flex-direction: column;
}

.show-info{
    display: flex;
}

.more{
    display: flex;
    padding: 10px;
    color: white;
    background-color: orange;
    border: 5px darkgray;
    text-decoration: none;
}

foot{
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    grid-area: foot;
}
.f-one{
    grid-area: map;
    padding: 20px 0 0 20px;
    width: 200px;
}

.f-two{
    grid-area: f-two;
}

.f-three{
    grid-area: f-three;
}

.f-four{
    grid-area: f-four;
}

.footer{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 40px;
    
}

.flink{
    text-decoration: none;

}

.show-img2{
    display: none;
}

@media  screen and (max-width: 1200px){
    main{
        width: 80%;
    }
}

@media screen and (max-width: 750px){
    main{
        width: 100%;
    }

    .titlebox{
        font-size: large;
    }
    .footer{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .links{
        display: none;
    }
}